* {
	box-sizing:border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

main {
	padding: 10px;
}

header {

	header: 150px; 
}

aside {
	border-top: 5px; 
	border-bottom: 4px;
}

	aside img {
		width:100%;
		max-width:500px;
	}

body {
	margin: auto; 
	width: 900;
	border: 5px;
	/*font-family: 'Inconsolata';*/
	/*font-family: 'Roboto', sans-serif;*/
 
}


.bio {
	text-align: left;
	margin-left: 0%;

	}
.attention {color: red; 
	margin-left: 8%;
	font-family: 'Josefin Sans', sans-serif;
		
	}

.red {
	color: red
}

.italics {font-style:italic
}

.align-right {
	// float: right;
	// margin-right: -30%;
}

footer {
	clear: both; 
	background-color:;
	text-align: center
}

#navbar {
	clear: both; 
	background-color:;
	text-align: center
}

a:link, a:visited {
	color: black;
	text-decoration: none;
	}
a:focus, a:hover {
	text-decoration: none;
	color: gray;
}
a:active {
	color: pink;

}

ul {list-style-type: none;
	padding: 0;}

.withborder  {margin-top: 10%;
			margin-bottom: 10%} 

.nospace {margin-bottom: 0%}

div#footer{
	font-family: 'Josefin Sans', sans-serif;
	height: 1.5em;
	clear:both;
	padding-top: 2em;
	padding-bottom: 1.5em;
	font-size: ;
	width: ;
}
div#footer ul{
	margin:0;
	padding:0;
	list-style:none;

}
div#footer li{
	width: 33%;
	display:inline-block;
	text-align:center;
}
div#footer a {color: red;}


hr.style-seven {
	height: 30px; 
	border-style: solid;
	border-color: red;
	border-width: 1px 0 0 0; 
	border-radius: 20px; 
}

hr.style-seven:before {
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: red;
	border-width: 0 0 1px 0; 
	border-radius: 20px; 
}

.editing {
	// margin-bottom: 100px
}

.content {
	margin:0 auto;
	width:100%;
	max-width:1080px;
}


@media only screen and (min-width:780px) {
	main {
		width: 50%;
		float: left; 
	}

	aside {
		width: 50%;
		float: right;
	}
}